/* ***** BODY BG ***** */
body {
  background-color: whitesmoke;
}

/* ***** PROFILO ***** */
.profile-card {
  border: none;
  img {
    background-color: black;
    aspect-ratio: 1/1;
  }
  .btn {
    border-radius: 4px;
  }
}
